<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body class="container">
  <%- include('../partials/header', {pagina: 'sobre'}); %>
  <main>
    <div>
      <h1>Sobre mim</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse at enim similique nesciunt?
      </p>
    </div>
  </main>
  <%- include('../partials/footer'); %>  
</body>
</html>